@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/*font-family: 'Oswald', sans-serif;*/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0px 200px 0 200px;
}

span {
    margin: 0px 0px 0 29px;
    font-weight: 800;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

 

}

.caja img {
    width: 220px;
    height: 220px;
    border-radius: 30px;
    transition: 0.5s;
    object-fit: cover;
    margin-bottom: 10px;
}

.caja img:hover {
    transform: scale(1.1);

}

.caja {
 margin: 15px;
 text-align: center;
 display: flex;
 flex-direction: column;
 gap: 9px;
 font-family:'Oswald', sans-serif;
 font-size: 18px;
}

.titulo {
    text-align: center;
    font-size: xx-large;
}

.opciones {
    display: flex;
    gap: 15px;
    justify-content: center;
    background-color: gold;
    margin: 0px -200px;
padding:  5px 0 5px 0;
}

.opciones a {
    color: black;
    font-size: large;
}
.opciones a:hover {
    color: white;
}


.carrito  {
    position: absolute;
    right: 50px;   

}

.principio {
    background-color:  rgba(0, 0, 0, 0.85);
    margin: 0px -200px -1px -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104px;
    gap: 34px;

}

.logo {
    width: 80px;
}

.pp {
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
    background-color: gold;
    margin: 0px -200px;
    padding: 1px 0 1px 0;
}

.pp a {
    color: black;
}

.titulo{  
    font-size: 50px;
    color: #ffc107;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 0px 0px 0 rgb(202,140,0),
                 -1px 1px 0 rgb(149,87,0),
                 -2px 2px  0 rgb(96,34,0),
                 -3px 3px 2px rgba(0,0,0,0.61),
                 -3px 3px 1px rgba(0,0,0,0.5),
                 0px 0px 2px rgba(0,0,0,.2);
 }

 .ss {
    font-size: 12px;
    border: solid gold;
    border-radius: 11px;
    cursor: pointer;

}

.container {

    margin-top: 20px;
}


footer{
    background-color:  rgba(0, 0, 0, 0.85);
    color: gold;
    text-align: center;
    padding: 0px -101px 0 0;
    margin: 0 -200px;
}


/*Media*/

@media (max-width: 395px) {
    .opciones a {
        font-size: smaller;
    }
.carrito {
    right: 7px;
}

}