@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/*font-family: 'Oswald', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*font-family: 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
/*font-family: 'Merriweather', serif;*/

*{ 
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
   /*border: 1px solid red;*/
   font-family: 'Merriweather', serif;
}

/*Header*/
.header {
    height: 100px;
    width: 100%;
    padding: 0px  50px;
    box-shadow: rgba(149, 157, 165, 0.2)0px 8px 24px;
display: flex;
align-items: center;
justify-content: space-between;
background-color:  rgba(0, 0, 0, 0.85);

}

.navbar {
    display: flex;
}

.navbar i {
    font-size: 36px;
    color: #ffbf19;
    display: none;
}

#toggle-menu {
    display: none;
}


.navbar ul {

    margin: 0px -50px 0 0;
    display: flex;
    list-style: none;
    gap: 100px;
    color: #ffbf19;
    }

    .navbar li a {
        color: #ffbf19;
    }

.logo {
    width: 80px;
}

.registro {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 9px;
}

.portada {
    margin-top: 23px;
}

.inicio_sesion, .registrate {
    font-size: small;
}


.hero {
    display: flex;
    /* padding: 0px 30px 0 0; */
    /* gap: 25px; */
    flex-direction: column;
    align-items: center;
}

.inicio_sesion, .registrate {
    background-color: #ffbf19;
    border: none;
    color: rgb(0, 0, 0);
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #b619ff;
    border-radius: 4px;
}

.hero input {
    height: 20px;
}

.catalogo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 40px 0 0 0;
    justify-content: space-around;
    gap:30px
}

  .catalogo a img {
    width: 400px;
}      

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    letter-spacing: 2px;
    margin-top: -1px;
    margin: -4px 0 0 0;
   color: #fff;
    border: solid rgba(0, 0, 0, 0.85);
    background-color: rgba(0, 0, 0, 0.85);
}

.titulo_productos {
    font-size: 68px;
    color: #ffc107;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 0px 0px 0 rgb(240,178,0),
                 1px 1px 0 rgb(225,163,0),
                 2px 2px 0 rgb(210,148,0),
                 3px 3px 0 rgb(195,133,0),
                 4px 4px 0 rgb(180,118,0),
                 5px 5px 0 rgb(165,103,0),
                 6px 6px 0 rgb(150,88,0),
                 7px 7px 0 rgb(135,73,0), 
                 8px 8px 0 rgb(120,58,0),
                 9px 9px 0 rgb(105,43,0),
                 10px 10px  0 rgb(90,28,0),
                 11px 11px 10px rgba(0,0,0,0.6),
                 11px 11px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);
}

.productos {
    text-align: center;

    margin: -45px 0px 100px 0px;
}

.contenedor {
    width:100%;
    height:313px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.img_nosotros  {
    object-fit: cover;
    width:100%;
    height:100%;

    filter: brightness(0.5);    
}

.text_nosotros {
    margin-inline: 111px;
}


.beneficios {
    display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 50%;
grid-column-gap: 50px;
grid-row-gap: 0px;
}

.contenedor  h1 {
position: relative;
    bottom: -50%;
    color: #ffbf19;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
z-index: 1;
}

.nosotros {
    text-align: center;
}

.grid-beneficios {
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 150px;
grid-column-gap: 8px;
grid-row-gap: 0px;
grid-area: 1 / 1 / 2 / 2; 
}

.div1 { grid-area: 1 / 1 / 2 / 2; }

.titulo_beneficios {
    font-size: 50px;
    color: #ffc107;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 0px 0px 0 rgb(240 178 0), 1px 1px 0 rgb(225 163 0), 2px 2px 0 rgb(210 148 0), 3px 3px 0 rgb(195 133 0), 4px 4px 0 rgb(180 118 0), 5px 5px 0 rgb(165 103 0), 6px 6px 0 rgb(150 88 0), 7px 7px 0 rgb(135 73 0), 8px 8px 0 rgb(120 58 0), 9px 9px 0 rgb(105 43 0), 10px 10px 0 rgb(90 28 0), 11px 11px 10px rgb(0 0 0 / 60%), 11px 11px 1px rgb(0 0 0 / 50%), 0px 0px 10px rgb(0 0 0 / 20%);
    text-align: center;
    margin: 25px 0 25px 0;

}

.fa-thumbs-up {
    font-size: 80px;}

.fa-instagram  {
    font-size: 80px;}

.fa-truck-fast {
    font-size: 80px;
}

.beneficio_grid {
    text-align: center;
}

.beneficio_grid p {
    font-family: 'Poppins', sans-serif
}

.Beneficios {
margin: 0px 40px;


 }
footer {
 background: rgba(46, 45, 45, 0.897);
    display: flex;
    align-items: center;
    justify-content: space-around;
text-align: center; 
margin: 16px 0 0 0;

}

.contacto h4 {
    color: #ffbf19;
}

.contacto h2 {
    color: #b619ffbb;
}

.redes {
    font-family: 'Roboto', sans-serif;

    color: #b619ffbb;
}

.contacto {
    font-family: 'Roboto', sans-serif;
}

.redes i {
   font-size: medium;
    color: #ffbf19;
padding: 0 5px;    
}


                                                                    /*Responsive Design*/

@media (max-width: 1070px) {
    footer {
        margin: 35px 0 0 0;
    }
    
    }

@media (max-width: 880px) {
    #slide-1:checked ~ .control-1,
    #slide-2:checked ~ .control-2,
    #slide-3:checked ~ .control-3 {
        display: none;
    }


    .navbar ul {
    background-color: #463e3e;
        width: 100%;
        height: calc(100vh - 80px);
        position: absolute;
        top: 100px;
        left: 0;
        flex-direction: column;
        align-items:  center;
    justify-content: center;
    transform: translateX(200%);
    transition: all 0.4s ease-out;
    z-index: 1;
    display: none;
    }

    .navbar i {
        display: block;
    }

#toggle-menu:checked ~ .nav {
    transform: translateX(0%);
display: flex;

}
}


@media (max-width: 850px) {
 .grid-beneficios {
    grid-template-columns: repeat(1, 1fr);

 }   

 footer {
    flex-direction: column;
}
}

@media (max-width: 675px){
    .registro a{
        padding: 2px 0px;
    }
    input{
        width: 120px;
    }

.catalogo-img{
max-width: 300px;
}

.titulo_beneficios{
    font-size: 25px;
}
}

@media (max-width: 500px) {
.text_nosotros {
    margin-inline: 2px;
}

.titulo_productos {
font-size: 50px;}

}
@media (max-width: 450px) {
    .completar  {
        display: flex;
        flex-direction: column;
    }
    .registro a {
        padding: 0px;
    }
    }
    @media (max-width: 332px ) {
    .registro  { 
        text-align: center;
    margin-left: 15px;}
    }

    @media (max-width: 325px) {
.grid-beneficios  {  
    grid-template-rows: 178px; } 
    }
